<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'> 
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class= 'col-sm-2 sidebarContainer'>
    <ul class ='sidebar-nav'>
        <li>
          <a href="/catalog">Home</a>
        </li>
        <li>
          <a href="/catalog/books">All books</a>
        </li>
        <li>
          <a href="/catalog/authors">All authors</a>
        </li>
        <li>
          <a href="/catalog/genres">All genres</a>
        </li>
        <li>
          <a href="/catalog/bookinstances">All book-instances</a>
        </li>

            <hr>

        <li>
          <a href="/catalog/author/create">Create new author</a>
        </li>
        <li>
          <a href="/catalog/genre/create">Create new genre</a>
        </li>
        <li>
          <a href="/catalog/book/create">Create new book</a>
        </li>
        <li>
          <a href="/catalog/bookinstance/create">Create new book instance (copy)</a>
        </li>
     </ul>
    </div>
    <div class ='container-fluid'>
    <div class ='col-sm-10'>
        <h1><%= book.title %></h1>

        <p> <strong> Author:</strong>
            <a href=<%= book.author.url%>> <%= book.author.name %></a>
        </p><br>
        <p> <strong> Summary:</strong><%- book.summary %></p> <br>
        <p> <strong> ISNB:</strong><%= book.isbn %></p> <br>
        <p> <strong> Genre:</strong> &nbsp; <br>
            <% book.genre.forEach((value,index)=> { %> 
                <a href = <%= value.url %>> <%= value.name %> </a> 
           <% if (index < book.genre.length -1) { %>
            ,<br> 
           <% } %>
           <% }) %> 
            <div style ='margin-left: 20px; margin-top:20px'>
                <h4>Copies</h4>
                    <% book_instances.forEach(value => { %>
                        <hr>
                       <% if (value.status== 'Available') { %>
                        <p class ="text-success"><%= value.status %></p>
                      <% } else if (value.status =='Maintenance') { %>
                        <p class="text-danger"><%= value.status%></p>
                     <% } else { %>
                        <p class="text-warning"><%= value.status %></p>
                        <% } %> <br>
                        <p><strong> Imprint:</strong><%= value.imprint %></p> <br>
                     
                     <% if (value.status != 'Available') { %>
                        <p><strong>Due back:</strong> <%= value.due_back %></p> <br>
                        <p><strong>Id:</strong>&nbsp; <a href=<%= value.url %>> <%= value._id %></a></p>
                     <% } else if(value.status != 'Available'| 'Maintenance' | 'Loaned' | 'Reserved')  { %>
                        <p>There are no copies of this book in the library</p>
                    <% } %>
                   <% }) %>
                   
            </div>
           

        </p>

       
    </div>
    </div>
  <!-- 

    <div class='row'>
      
        
    </div>
  </div>
  -->
</body>
</html>